clonyo-wave/step-function-definition-euc1.json
{
    "Comment": "Clone AI state machine",
    "StartAt": "ExtractVariables",
    "States": {
        "ExtractVariables": {
            "Type": "Pass",
            "Next": "ManageSession",
            "Assign": {
                "wa_contact_id": "{% $states.input.wa_contact.wa_id %}",
                "message_ts": "{% $states.input.message_ts %}",
                "reply_to_wa_id": "{% $states.input.reply_to_wa_id %}",
                "wa_phone_number_arn": "{% $states.input.config.wa_phone_number_arn %}",
                "config": "{% $states.input.config %}"
            }
        },
        "ManageSession": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-session-manager-fn",
                "Payload": {
                    "wa_contact_id": "{% $wa_contact_id %}"
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Store WA message meta",
            "Assign": {
                "session_id": "{% $states.result.Payload.session_id %}",
                "current_topic_id": "{% $states.result.Payload.topic_id %}"
            }
        },
        "Store WA message meta": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "sidea-ai-clone-test-euc1-messages-table",
                "Item": {
                    "pk": {
                        "S": "{% 'S#' & $wa_phone_number_arn & '#C#' & $wa_contact_id %}"
                    },
                    "sk": {
                        "S": "META"
                    },
                    "wa_phone_number_arn": {
                        "S": "{% $wa_phone_number_arn %}"
                    },
                    "wa_contact_id": {
                        "S": "{% $wa_contact_id %}"
                    },
                    "wa_contact_profile_name": {
                        "S": "{% $states.input.wa_contact.profile.name %}"
                    },
                    "last_message_at_ts": {
                        "N": "{% $string($states.input.message_ts) %}"
                    }
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Evaluate message type"
        },
        "Evaluate message type": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "TransformForResponse",
                    "Condition": "{% $exists($states.input.text) %}",
                    "Comment": "text"
                },
                {
                    "Next": "StartTranscriptionJob",
                    "Condition": "{% $exists($states.input.audio) %}",
                    "Comment": "audio"
                }
            ],
            "Default": "Fail"
        },
        "TransformForResponse": {
            "Type": "Pass",
            "Next": "AnalyzeTopic",
            "Output": {
                "userInput": "{% $exists($states.input.transcript) ? $states.input.transcript : $states.input.text.body %}",
                "original_input_type": "{% $exists($states.input.transcript) ? 'audio' : 'text' %}",
                "config": "{% $config.response_generator %}",
                "messages_key": "{% 'S#' & $wa_phone_number_arn & '#C#' & $wa_contact_id %}"
            },
            "Assign": {
                "userInput": "{% $exists($states.input.transcript) ? $states.input.transcript : $states.input.text.body %}"
            }
        },
        "AnalyzeTopic": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-topic-analyzer-fn",
                "Payload": {
                    "text": "{% $userInput %}",
                    "current_topic_id": "{% $current_topic_id %}"
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Store WA received message",
            "Assign": {
                "topic_id": "{% $states.result.Payload.topic_id %}",
                "topic_keywords": "{% $states.result.Payload.keywords %}"
            }
        },
        "Store WA received message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "sidea-ai-clone-test-euc1-messages-table",
                "Item": {
                    "pk": {
                        "S": "{% 'S#' & $wa_phone_number_arn & '#C#' & $wa_contact_id %}"
                    },
                    "sk": {
                        "S": "{% 'M#' & $message_ts %}"
                    },
                    "session_topic_key": {
                        "S": "{% $session_id & '#' & $topic_id %}"
                    },
                    "role": {
                        "S": "user"
                    },
                    "type": {
                        "S": "{% $states.input.original_input_type %}"
                    },
                    "content": {
                        "S": "{% $states.input.userInput %}"
                    },
                    "session_id": {
                        "S": "{% $session_id %}"
                    },
                    "topic_id": {
                        "S": "{% $topic_id %}"
                    }
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Get Session History"
        },
        "Get Session History": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
            "Arguments": {
                "TableName": "sidea-ai-clone-test-euc1-messages-table",
                "IndexName": "session-topic-index",
                "KeyConditionExpression": "session_topic_key = :stk",
                "ExpressionAttributeValues": {
                    ":stk": {
                        "S": "{% $session_id & '#' & $topic_id %}"
                    }
                },
                "ScanIndexForward": true,
                "Limit": 20
            },
            "Output": "{% $states.input %}",
            "Next": "Check Sufficiency",
            "Assign": {
                "historical_context": "{% $states.result.Items %}"
            }
        },
        "Check Sufficiency": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-context-evaluator-fn",
                "Payload": {
                    "userInput": "{% $userInput %}",
                    "history": "{% $historical_context %}"
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Is Sufficient?",
            "Assign": {
                "is_sufficient": "{% $states.result.Payload.sufficient %}"
            }
        },
        "Is Sufficient?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $is_sufficient = true %}",
                    "Next": "Get reply strategy"
                }
            ],
            "Default": "Query Static KB"
        },
        "Query Static KB": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:bedrockagentruntime:retrieve",
            "Arguments": {
                "KnowledgeBaseId": "{% $config.kb_id %}",
                "RetrievalQuery": {
                    "Text": "{% $userInput %}"
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Get reply strategy",
            "Assign": {
                "kb_docs": "{% $states.result.RetrievalResults %}"
            }
        },
        "Get reply strategy": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.input %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-reply-strategy-fn",
                "Payload": "{% $states.input %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "Comment": "12 total attempts spread across ~88s",
                    "MaxAttempts": 11,
                    "BackoffRate": 1.09,
                    "MaxDelaySeconds": 1
                }
            ],
            "Next": "Build Knowledge based response",
            "Assign": {
                "output_message_type": "{% $states.result.Payload.mode %}",
                "complexity_factor": "{% $states.result.Payload.complexity_factor %}"
            }
        },
        "Build Knowledge based response": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-generate-response-fn",
                "Payload": "{% $merge([$states.input,{\"complexity_factor\": $complexity_factor}]) %}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "Comment": "12 total attempts spread across ~88s",
                    "MaxAttempts": 11,
                    "BackoffRate": 1.09,
                    "MaxDelaySeconds": 1
                }
            ],
            "Next": "Choose output type",
            "Assign": {
                "output_message_content": "{% $states.result.Payload.response %}"
            }
        },
        "Choose output type": {
            "Type": "Choice",
            "Choices": [
                {
                    "Comment": "Audio",
                    "Next": "Generate audio from text",
                    "Condition": "{% $output_message_type = \"audio\" %}"
                },
                {
                    "Next": "Reply to WA User with text",
                    "Condition": "{% $output_message_type = \"text\" %}",
                    "Comment": "Text"
                }
            ],
            "Default": "Store WA sent message",
            "Assign": {
                "output_message_type": "text"
            }
        },
        "Reply to WA User with text": {
            "Type": "Pass",
            "Comment": "MOCKED WhatsApp send - TODO: replace with arn:aws:states:::aws-sdk:socialmessaging:sendWhatsAppMessage",
            "Next": "Store WA sent message"
        },
        "Generate audio from text": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-text-to-speech-fn",
                "Payload": {
                    "text": "{% $states.input.response %}",
                    "config": "{% $config.text_to_speech %}",
                    "wa_phone_number_arn": "{% $wa_phone_number_arn %}"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "PostWhatsAppMessageMedia"
        },
        "PostWhatsAppMessageMedia": {
            "Type": "Pass",
            "Comment": "MOCKED WhatsApp media post - TODO: replace with arn:aws:states:::aws-sdk:socialmessaging:postWhatsAppMessageMedia",
            "Next": "Reply to WA User with media",
            "Assign": {
                "mock_media_id": "mock-media-123"
            }
        },
        "Reply to WA User with media": {
            "Type": "Pass",
            "Comment": "MOCKED WhatsApp send - TODO: replace with arn:aws:states:::aws-sdk:socialmessaging:sendWhatsAppMessage",
            "Next": "Store WA sent message"
        },
        "Store WA sent message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "sidea-ai-clone-test-euc1-messages-table",
                "Item": {
                    "pk": {
                        "S": "{% 'S#' & $wa_phone_number_arn & '#C#' & $wa_contact_id %}"
                    },
                    "sk": {
                        "S": "{% 'M#' & $string($round($millis() / 1000)) %}"
                    },
                    "session_topic_key": {
                        "S": "{% $session_id & '#' & $topic_id %}"
                    },
                    "role": {
                        "S": "assistant"
                    },
                    "type": {
                        "S": "{% $output_message_type %}"
                    },
                    "content": {
                        "S": "{% $output_message_content %}"
                    },
                    "session_id": {
                        "S": "{% $session_id %}"
                    },
                    "topic_id": {
                        "S": "{% $topic_id %}"
                    }
                }
            },
            "Output": "{% $states.input %}",
            "Next": "Update Session Meta"
        },
        "Update Session Meta": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "sidea-ai-clone-test-euc1-sessions-table",
                "Item": {
                    "pk": {
                        "S": "{% $wa_contact_id %}"
                    },
                    "sk": {
                        "S": "{% 'S#' & $session_id & '#T#' & $topic_id %}"
                    },
                    "session_id": {
                        "S": "{% $session_id %}"
                    },
                    "topic_id": {
                        "S": "{% $topic_id %}"
                    },
                    "wa_contact_id": {
                        "S": "{% $wa_contact_id %}"
                    },
                    "last_active_at": {
                        "N": "{% $string($round($millis() / 1000)) %}"
                    }
                }
            },
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "StartTranscriptionJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
            "Arguments": {
                "Media": {
                    "MediaFileUri": "{% $states.input.audio.s3_uri %}"
                },
                "LanguageCode": "it-IT",
                "TranscriptionJobName": "{% \"ai-clone-demo_\" & $uuid() %}"
            },
            "Next": "Wait for job to complete",
            "Assign": {
                "transcriptionJobName": "{% $states.result.TranscriptionJob.TranscriptionJobName %}"
            }
        },
        "Wait for job to complete": {
            "Type": "Wait",
            "Seconds": 5,
            "Next": "GetTranscriptionJob"
        },
        "GetTranscriptionJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
            "Arguments": {
                "TranscriptionJobName": "{% $transcriptionJobName %}"
            },
            "Next": "Job finished?"
        },
        "Job finished?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "Get transcript file content",
                    "Comment": "COMPLETED",
                    "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = \"COMPLETED\" %}"
                },
                {
                    "Next": "Fail",
                    "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = \"FAILED\" %}",
                    "Comment": "FAILED"
                }
            ],
            "Default": "Wait for job to complete"
        },
        "Get transcript file content": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "arn:aws:lambda:eu-central-1:533267110337:function:sidea-ai-clone-test-euc1-get-file-contents-fn",
                "Payload": {
                    "file_uri": "{% $states.input.TranscriptionJob.Transcript.TranscriptFileUri %}"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "TransformForResponse",
            "Output": {
                "transcript": "{% $parse($states.result.Payload.content).results.transcripts[0].transcript %}"
            }
        },
        "Fail": {
            "Type": "Fail"
        }
    },
    "QueryLanguage": "JSONata"
}
